body {
  padding:50px;
  background-color: #FBFBFB;
  font-family:"museo-slab";
}

.theList {
  background-color: black;
  display:flex;
  flex-direction:row;
  border-radius:3px;
  overflow:hidden;  
  margin-top:50px;
}

.header {
  width:200px;
  height:200px;
  background-color: #FFC100;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.header h2 {
  margin:5px;

}

.userImage {
  width:70px;
  height:70px;
  background-color: darkgray;
  border:5px solid #fff;
  border-radius: 100%;
}

.taskList {
  flex:1;
  color:#fff;
  display:flex;
  background-color: #121212;
  align-items:center;
}


.trelloList li {
  font-size:48px;
  list-style:none;
  font-weight:bold;
}